body                  { margin: 0; padding: 0; overflow: hidden; font: 14px sans-serif; background: grey; }
#container            { width: 1280px; margin: auto; margin-bottom: 10px; }
#inputN3              { width: 100%; height: 250px; padding: 10px; border: none; resize: none; display: none; } /* wider than screen due to padding */

/* controls */
#topbar               { float: left; width: 100%; background: grey; }
#status-message       { margin-left: 10px; font: 14px sans-serif; color: #fff; } /*green*/
#generate             { display: none; }
#saveExperiment       { display: none; }

#sidebar              { float: right; position: absolute; right: 0; padding: 5px; height: 100%; background: grey; z-index: 1; }
#ownerID              { margin-left: 5px; font-weight: bold; color: #fff; }
#friendsList          { margin: 10px; }
div.friend            { font-weight: bold; color: #999; cursor: pointer; }
span.name             { color: red; }
span.option           { margin-left: 2px; float: right; }
#history              { width: 250px; height: 460px; overflow: auto; padding: 5px; background: #fff; }
#nextStep, #animate, #run, .animationSpeed   { display: none; }
#speedSlider          { width: 100px; height: 10px; }

#graph                {  } /*clear: both;*/

svg                   { background: #FFF; margin: 20px; }
path.link             { stroke: grey; }
path.marker           { fill: grey; }
path.inferred         { stroke-dasharray: 2,2; }
circle.node           { fill: #eee; stroke-width: 1; stroke: #333; }
text.id               { text-anchor: middle; font-weight: bold; font: bold 10px sans-serif; }
text.RDFlinkTarget    { fill: grey; }

circle.bee            { fill: brown; stroke: red; }

/* toggle classes friendslist */
span.block            { color: #000; }
span.selected         { background: #000; }
span.connected        { color: green; }

/* toggle classes monitor */
p.data                { color: grey; font: italic 12px sans-serif;  }

/* toggle classes visualization */
circle.scout          { fill: red; }
circle.forager        { stroke: blue; }
circle.nurse          { stroke-width: 4px; }
circle.RDFlink        { /*some style for RDF link targets*/ }